<html>
  <body>
    <div class="category">
      <div class="sub-content">
        <% for(let i = 0; i < categoryData.length; i++) { %>
          <div>
            <p><%= categoryData[i].name %> </p>      
            <div class="links">
              <a href= <%= `/category/${categoryData[i].id}`%> >Open</a>
              <a href= <%= `/category/delete/${categoryData[i].id}` %> >Delete</a>
            </div>
          </div>
        <% } %>
      </div>
      <div class="link">
        <a href="/category/create">Create category</a>
      </div>
    </div>
  </body>
</html>
