<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create-category</title>
</head>
<body>
  <h1>Create category</h1>
  <form action="/category/create" method="post">
    <div>
      <label for="categoryName">Name</label>
      <input type="text" name="categoryName" id="categoryName">
    </div>
    <input type="submit">
  </form>
  <a href="/category">Go Back</a>
</body>
</html>