<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inventory-application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Lexend";
      }
      a {
        text-decoration: none;
        color: black;
      }
      body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10px;
      }
      .header {
        flex: 1;
        background-color: rgba(0, 0, 0, 0.399);
        font-size: 2.4em;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;
      }
      .content {
        flex: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      .content-header {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
      }
      .content-header button {
        font-weight: 400;
        font-size: 1.6em;
        padding: 6px 10px 6px 10px;
        background-color: rgba(0, 0, 0, 0.381);
        border: 0;
        border-radius: 4px;
        cursor: pointer;
      }
      .category {
        flex: 9;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .item {
        flex: 9;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .sub-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 4px;
        gap: 7px;
      }
      .sub-content > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 23px;
        border: 1px groove black;
        padding: 6px 16px 6px 16px;
        border-radius: 4px;
        gap: 6px;
      }
      .link {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 21px;
        margin-top: 3px;
        margin-bottom: 10px;
      }
      .link > a {
        padding: 9px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.348);
      }
      .links {
        padding-top: 6px;
        padding-bottom: 6px;
      }
      .links > a{
        padding: 4px;
        background-color: rgba(0, 0, 0, 0.377);
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <h1 class="header">Inventory App</h1>
    <div class="content">
      <div class="content-header">
        <button><a href="/category">Category</a></button>
        <button><a href="/item">Items</a></button>
      </div>
      <%- include(value); %>
    </div>
  </body>
</html>
